.styling {
    font-family: sans-serif;
    line-height: 1.05em;
    font-size: min(9vh, 8vw);
    margin: auto;
    padding: calc(min(5vh, 5vw) + 10px);
    color: #ffcdbc;
    border-radius: calc(min(5vh, 5vw) + 10px);
    margin: 20px;
    background: rgb(93, 78, 96);
    background: linear-gradient(-13deg, rgba(93, 78, 96, 1) 0%, rgba(111, 93, 111, 1) 80%, rgba(130, 108, 127, 1) 100%);
    box-shadow: 10px 15px 10px 10px #201d20;
}

.num {
    font-weight: bold;
    display: inline-block;
    color: #f6853f;
}

.border {
    padding: calc(min(5vh, 5vw) + 10px);
    border-color: #f6853f;
    border-width: 2px;
    border-style: solid;
}

.wrapper {
    margin: 0;
    padding: 0;
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

body {
    background: #242124;
}